@model EstoqueTIRDEB.Models.ViewModels.AdicionarItemViewModel

@{
    ViewData["Title"] = "Detalhes de Quantidade";
    Layout = "_Layout";
}

<h2>Detalhes de Quantidade do Item</h2>

<div>
    <h4>Informações do Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Especificacoes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Especificacoes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataAquisicao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataAquisicao)
        </dd>
    </dl>
</div>

<div>
    <h4>Quantidade em Estoque</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Quantidade
        </dt>
        <dd>
            Quantidade
        </dd>
    </dl>
</div>


<div>
    <h4>Entradas do Item</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Data de Entrada</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entrada in Model.EntradasEstoque)
            {
                <tr>
                    <td>@entrada.DataEntrada</td>
                    <td>@entrada.Quantidade</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a asp-action="Index">Voltar para a Lista de Itens</a>