@model EstoqueTIRDEB.Models.Itens

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h2>Delete</h2>

<h3>Você tem certeza que deseja deletar este item?</h3>
<div>
    <h4>Itens</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Equipamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Equipamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataAquisicao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataAquisicao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fabricante)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patrimonio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patrimonio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TempoAproximadoDeUso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TempoAproximadoDeUso)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
