@model IEnumerable<EstoqueTIRDEB.Models.Itens>
@inject EstoqueTIRDEB.Services.EstoqueService _estoqueService



@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<body>
    <h2>Itens</h2>

    <p>
        <a asp-action="Create" class="btn btn-default">Adicionar Item</a>
    </p>
    <p>
        <a asp-controller="Categorias" asp-action="Create" method="post">Adicionar Categoria</a>
    </p>


    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Modelo</th>
                <th>Especificações</th>
                <th>Data de Aquisição</th>
                <th>Quantidade</th>
                <th>Categoria</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Modelo</td>
                    <td>@item.Especificações</td>
                    <td>@item.DataAquisicao</td>
                    <td>@item.Quantidade</td>
                    <td>@(item.Categoria != null ? item.Categoria.Nome : "")</td> <!-- Exibir o nome da categoria se existir, senão mostrar uma string vazia -->
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="container">
        <h1>Dashboard de Estoque</h1>
        <canvas id="chartContainer"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('chartContainer').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Produto A', 'Produto B', 'Produto C', 'Produto D', 'Produto E'],
                    datasets: [{
                        label: 'Quantidade em Estoque',
                        data: [20, 30, 15, 25, 40],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.6)',
                            'rgba(54, 162, 235, 0.6)',
                            'rgba(255, 206, 86, 0.6)',
                            'rgba(75, 192, 192, 0.6)',
                            'rgba(153, 102, 255, 0.6)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
</body>
